@model MyContacts.Models.ConferentionMember

<h1>Add new member</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMember">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="PhoneNumber.PhoneNum" class="control-label"></label>
                <input asp-for="PhoneNumber.PhoneNum" class="form-control" />
                <span asp-validation-for="PhoneNumber.PhoneNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add member" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}